@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Lucida Sans', sans-serif;
    font-size: small;
    padding: 0.1em;
    box-sizing: border-box;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  html, body {
    margin: 0;
    padding: 0;
  }
  
  
  button{
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  button:hover{
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    width: 100%;
  }
  
  i {
    color: gray;
  }
  
  ul {
    flex-direction: column;
    align-items: stretch;
  }

  .closed{
    width: 100%;
    transition: left;
  }

  .open{
    left: 200px;
    width: calc(100% - 200px);
    transition: right;
  }

  .page{
    margin: 60px 0px 60px 0px;
    max-width: 1000px;
  }
  
  .sideNav {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: fixed;
    left: -200px;
    height: 100%;
    transition: left;
  }
  
  .sideNav.open {
    left: 0;
  }
  
  .sideNavBtn {
    position: absolute;
    left: 160px;
    transition: left;
    z-index: 1;
    margin-top: 2.5px;
    width: auto;
  }

  .sideNavBtn:hover{
    width: auto;
  }
  
  .sideNavBtn i {
    font-size: 25px;
  }

  .sideNavBtn.openBtn{
    left: 0px;
  }
  
  .sideNavMenu button {
    flex-grow: 1;
    width: 100%;
  }
  